In [1]:
print("test")

test

In [3]:
import boto3 , sagemaker

sagemaker.config INFO - Not applying SDK defaults from location: C:\ProgramData\sagemaker\sagemaker\config.yaml
sagemaker.config INFO - Not applying SDK defaults from location: C:\Users\bored\AppData\Local\sagemaker\sagemaker\config.yaml

In [4]:
import numpy as np
import pandas as pd

In [5]:
s3= boto3.client('s3')

In [20]:
bucket="prahaladreddy45"

In [21]:
try:
    s3.create_bucket(Bucket=bucket)
except Exception as e:
    print("Bucket already exists or another error occurred:", e)

In [24]:
infer_path="./data/iris_infer.csv"

In [25]:
df=pd.read_csv(infer_path)

In [27]:
df.head(10)

   6.3  2.8  5.1  1.5
0  6.3  3.3  4.7  1.6
1  5.0  3.4  1.5  0.2
2  5.8  2.7  4.1  1.0
3  7.3  2.9  6.3  1.8
4  4.9  2.4  3.3  1.0
5  5.7  2.8  4.5  1.3
6  5.7  3.8  1.7  0.3
7  5.6  3.0  4.5  1.5
8  5.5  2.3  4.0  1.3
9  4.4  3.2  1.3  0.2

In [28]:
from sagemaker import image_uris , TrainingInput

In [29]:
!aws s3 cp ./data/iris_infer.csv s3://prahaladreddy45/data/iris_infer.csv
!aws s3 cp ./data/iris_train.csv s3://prahaladreddy45/data/iris_train.csv
!aws s3 cp ./data/iris_test.csv s3://prahaladreddy45/data/iris_test.csv

Completed 850 Bytes/850 Bytes (387 Bytes/s) with 1 file(s) remaining
upload: data\iris_infer.csv to s3://prahaladreddy45/data/iris_infer.csv
Completed 1.9 KiB/1.9 KiB (1.1 KiB/s) with 1 file(s) remaining
upload: data\iris_train.csv to s3://prahaladreddy45/data/iris_train.csv
Completed 950 Bytes/950 Bytes (541 Bytes/s) with 1 file(s) remaining
upload: data\iris_test.csv to s3://prahaladreddy45/data/iris_test.csv